
Body{
    color: black;
    background: lightcyan;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
#entorno{
    display: block;
    margin: auto;
    width: 1500px;
    height: 1000px;
    border: 6px dashed blue;
}
#fondo{
    opacity: 0.3;
}
#Reiniciar{
    font-size: 20pt;
    width: 200px;
    height: 40px;
    background: #2e518b;
    color: #ffffff;
    border: 1px solid #2e518b;
    border-radius: 50px;
    cursor: pointer;
}
#pausa{
    font-size: 15pt;
    width: 100px;
    height: 40px;
    background: #2e518b;
    color: #ffffff;
    border: 1px solid #2e518b;
    border-radius: 50px;
    cursor: pointer;
}
#play{
    font-size: 15pt;
    width: 100px;
    height: 40px;
    background: #2e518b;
    color: #ffffff;
    border: 1px solid #2e518b;
    border-radius: 50px;
    cursor: pointer;
}